# Python 編譯檔案
*.pyc
*.pyo
__pycache__/

# 虛擬環境資料夾
env/
venv/
ENV/
.venv/

# 敏感設定檔
local_settings.py
.env

# Django 資料庫檔案
db.sqlite3
db.sqlite3-journal

# 上傳的媒體檔案
media/

# 日誌檔案
*.log

# IDE 設定檔
.idea/
.vscode/
*.iml

# 操作系統產生的檔案
.DS_Store
Thumbs.db

# Celery Beat schedule files
backend/celerybeat-schedule*

#忽略靶機檔案
instances/
