asgiref==3.10.0
Django==5.2.7
django-environ==0.12.0
django-pwned-passwords==4.1.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
psycopg2-binary==2.9.10
PyJWT==2.10.1
setuptools==78.1.1
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
